html {
  font-size: 15px;
}

* body {
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  color hsl(0, 0%, 95%);
}

body, button {
  background-color: hsl(0, 0%, 95%);
}

section {
  width: 90%;;
  border-radius: 0.33rem;
  margin: auto;
}